git say :Ping:1. Do not ping everyone

Pinging everyone may result a kick. Everyone may wake up if you do that. Only staffs can ping.

:Staff:2. Do not disturb staffs

Disturbing the staffs maybe result a Ban? Just do not disturb them because they are busy with something.

:Discord:3. Follow Discord Terms

You need to be 13+ to be on Discord. If we find out you are underage, it will reuslt a Immediate Ban.

:Swear:4. No Swearing

Everyone is swearing too much so we put this rule! Swearing may result a mute for 1 hour based from the Owner.






